<div class="row">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <!-- Address -->
        <div class="col">
          <div class="card">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d4482.978401187813!2d-121.90936444678381!3d37.391146491045646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sssne%20silicon%20valley!5e0!3m2!1ses!2ssv!4v1617816235373!5m2!1ses!2ssv" 
            width="555" 
            height="285" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy">
          </iframe>
            <div class="card-footer">
              <h5 class="card-title text-center">Address:</h5>
              <h6 class="text-center">2109 O' toolve Ave, Ste Q. San José, California</h6>
            </div>
          </div>
        </div>
      <!-- Telephone -->
        <div class="col">
          <div class="card">
            <img src="../../../assets/phone.png" class="mt-4 mb-4" width="220" height="245">
            <div class="card-footer">
              <h5 class="card-title text-center">Phone:</h5>
              <h6 class="card-text text-center">+503 2222-2222</h6>
            </div>
          </div>
        </div>
      <!-- Facebook -->
        <div class="col">
          <div class="card text-center mt-4">
            <img src="../../../assets/facebook.png" class="mt-2 mb-2" width="153">
            <div class="card-footer">
              <a class="btn btn-primary" href="https://www.facebook.com/SSNE-Group-Inc-1374287789458441/">Go to SSNE Facebook Page</a>
            </div>
          </div>
        </div>
      <!-- Facebook -->
        <div class="col">
          <div class="card mt-4">
            <img src="../../../assets/email.png" class="mb-1" width="195" height="175">
            <div class="card-footer">
              <h6 class="text-center">Email: wfunes@ssnegroup.com</h6>
            </div>
          </div>
        </div>
      </div>
</div>

  <!-- Videoconference -->
  <label class="card mt-4">
    <h5 class="text-center">We have these platforms for video conferencing:</h5>
  </label>
    <div class="row">
      <div class="col-md-4">
        <div class="card"> 
          <h5 class="card-title text-center">Google meet</h5>
          <img src="../../../assets/videoconference/meet.jpg" width="50" class="mb-1">
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <h5 class="card-title text-center">Zoom</h5>
          <img src="../../../assets/videoconference/zoom.png" width="50" class="mb-1">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h5 class="card-title text-center">Skype</h5>
          <img src="../../../assets/videoconference/skype.png" width="50" class="mb-1">
        </div>
      </div>
    </div>