<div class="row">
    <div class="col-md-6">
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
            <div class="col">
              <div class="card">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d202844.37669822914!2d-122.18118049471988!3d37.402993664131714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ssv!4v1617749268835!5m2!1ses!2ssv" width="250" height="275" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="card-body">
                  <h5 class="card-title text-center">Address</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/phone.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Phone</h5>
                  <p class="card-text text-center">2222-2222</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mt-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mt-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="card mt-3 ">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>