<div class="contenedor">
<!--Carousel buttons-->
  <div id="carousel-example-2" class="carousel slide carousel-fade mt-3" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--Image 1-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="../../../assets/photos SSNE/1.JPG" height="600" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Guaranteed solutions</h3>
          <p>We work on what you need</p>
        </div>
      </div>
      <!--Image 2-->
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" src="../../../assets/photos SSNE/8.jpg" height="600" alt="Second slide">
            <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">High experience</h3>
          <p>We work for you</p>
        </div>
      </div>
      <!--Image 3-->
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" src="../../../assets/photos SSNE/9.jpg" height="600"alt="Third slide">
            <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Lab testing</h3>
          <p>We have a laboratory to do the required tests</p>
        </div>
      </div>
    </div>
    <!--Controlers-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- SSNE GROUP -->
<h1 class="text-center text-dark bg-orange">SSNE GROUP</h1>

<div class="contenedor">
  <!-- About Us -->
  <div class="card mt-2">
    <h5 class="card-header text-center">About Us</h5>
    <div class="card-body">
      <p class="card-text text-center">SSNE Group has been based in San Jose, California since 2003. We have developed a Design Engineering and Technical Project Management Support Team that covers various disciplines and industries, including Semiconductor, Medical, Food, and Transportation. These relationships enable SSNE to develop and assemble effective project teams quickly, based on the technical requirements of each project. Our engineering design team has extensive experience in solving engineering problems and developing special systems, equipment and products for clients. We utilize the latest technology necessary to deliver cost effective solutions within a short lead time.</p>
    </div>
  </div>
  
  <!-- Semiconductor Industry -->
  <div class="row">
    <div class="col-md-6">
      <div class="card mt-3"> 
        <h5 class="card-header text-center">Semiconductor Industry</h5>
          <div class="card-body">
            <p class="card-text">We cover de full spectrum of semiconductor capital equipment design and manufacture from:</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Mainframes</li>
            <li class="list-group-item">Gas Delivery Systems</li>
            <li class="list-group-item">VMU/VMB Modules</li>
            <li class="list-group-item">Metal Enclosures</li>
            <li class="list-group-item">Automated Lift Mechanisms</li>
            <li class="list-group-item">Process Chamber Modules</li>
            <li class="list-group-item">Wafer Transfer Chamber Modules</li>
          </ul>
      </div>
    </div>

    <!-- Solar Renewable Energy Industry -->  
    <div class="col-md-6">
      <div class="card mt-3">
        <h5 class="card-header text-center">Solar Renewable Energy Industry</h5>
        <div class="card-body">
          <p class="card-text">Designing to the customer requirements, we can help increase efficiency.<br>
            The flexible design of PV Housing Enclosure is a solution to a fully integrated power conversion system, DC box design and low voltage service power panel.<br><br>
            We also coordinate UL approval of foreign manufactured equipment targeted for the US high power solar renewable energy industry market
          </p>
        </div>
        <img src="../../../assets/photos SSNE/solar panel.png" class="card-img-bottom" height="199">
      </div> 
    </div>
  </div>
  
  <!-- Enginerring, Design, Manufacturing and Testing -->
  <div class="row mt-4">
    <div class="col-sm-3">
      <div class="card bg-dark mb-3">
        <div class="card-header text-center text-white"><b>Engineering</b></div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-dark mb-3">
        <label class="card-header text-center text-white"><b>Design</b></label>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card bg-dark mb-3">
            <label class="card-header text-center text-white"><b>Manufacturing</b></label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-dark mb-3">
            <label class="card-header text-center text-white"><b>Testing</b></label>
        </div>
      </div>
  </div>
</div>


