img.card-img-bottom{
    width: 320px;
    height: 199px;
    align-items: center;
    display: flex;
    margin: auto;
}


.contenedor1{
    width: 80%;
    max-width: 920px;
    margin: 0px auto;
    display: grid;
    grid-gap: 03px;
}

h1.bg-orange{
    background-color: rgb(243, 158, 0);
}