body {
    background-image: url(assets/Engineering-Background.jpg);
    background-size: 1760px 1590px;
    font-family: sans-serif;
    /*background: linear-gradient(to bottom, #36939b, #ffffff);*/
} /*#36939b*/

/*.fondo{
    background-size: 100%;
    position: absolute;
}

.fondo::after{
    background-image: url(assets/fondo.jpg);
    content: "";
    margin: 0 0 0 0;
    opacity: 0.2;
}*/

footer {
    width: 100%;
    background: #242a33;
    color: white;
    position: absolute;
}

.contenedor{
    width: 90%;
    max-width: 1120px;
    margin: 20px auto;
    display: grid;
    grid-gap: 03px;
}