body {
    background-color: #36939b;
}

footer {
    width: 100%;
    background: #242a33;
    color: white;
    position: absolute;
}

.contenedor{
    width: 90%;
    max-width: 1120px;
    margin: 20px auto;
    display: grid;
    grid-gap: 03px;
}