    <h1 class="text-center text-white mt-3">Request</h1>

    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="form" class="mt-2" (ngSubmit)="onSubmit()">
                <!-- Name -->
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        Name *
                    </span>
                </div>
                    <input class="form-control" type="text" formControlName="name" placeholder="Full Name">
                <div *ngIf="submitted && f.name.invalid" class="text-danger">Enter your name
                </div>

                <!-- Company -->
                <div class="input-group-prepend mt-3">
                    <span class="input-group-text">
                        Your Company *
                    </span>
                </div>
                    <input class="form-control" type="text" formControlName="company" placeholder="Company name">
                <div *ngIf="submitted && f.company.invalid" class="text-danger">Enter your company name
                </div>
            
                <!-- Date -->
                <div class="input-group-prepend mt-3">
                    <span class="input-group-text">
                        Date *
                    </span>
                </div>
                    <input class="form-control" type="date" formControlName="date" placeholder="Date">
                <div *ngIf="submitted && f.date.invalid" class="text-danger">Enter the date
                </div>
            
                <!-- Email -->
                <div class="input-group-prepend mt-3">
                    <span class="input-group-text">
                        Email *
                    </span>
                </div>
                    <input class="form-control" type="email" formControlName="email" placeholder="Example@domain.com">
                <div *ngIf="submitted && f.email.invalid" class="text-danger mb-3"> Enter the email
                </div>
            
                <!-- text -->
                    <textarea class="form-control mt-3" cols="30" rows="10" formControlName="text" placeholder="Tell us about your project"></textarea>
                <div *ngIf="submitted && f.text.invalid" class="text-danger">100 characters max
                </div>
            
                <!-- Videoconference -->
                <div class="input-group-prepend mt-3">
                    <span class="input-group-text">
                        Virtual Conference
                    </span>
                </div>
                    <Select class="custom-select" formControlName="platform">
                        <option disabled selected>Choose the platform</option>
                        <option value="1">Zoom</option>
                        <option value="2">Google Meet</option>
                        <option value="3">Skype</option>
                    </Select>
                    <input class="form-control mt-1" type="text" formControlName="platform" placeholder="User ID">
                <div *ngIf="submitted && f.name.invalid" class="text-danger">Enter the platform you want
                </div>
            
                <!-- Enviar -->
                <button class="btn btn-primary mt-3" type="submit">Send</button>
            </form>
        </div>

        <!-- Card -->
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/hands.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Your project</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </div>
