<!-- Footer -->
<footer class="bg-white text-center text-black">
    <!-- Grid container -->
    <div class="container p-3">
  
      <!-- Section: Text -->
      <section class="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
      </section>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
        <b><p>&copy; {{anio}} SSNE GROUP</p></b>
    </div>

  </footer>